.symbol
  +background(image-url("../images/logo.png") 0 0 no-repeat)
  width: 40px
  height: 40px
  +background-size(100%)
  +inline-block
  float: left
  font-weight: 800
header
  float: left
  position: fixed
  padding: 50px 0 0 20px
  h1
    font-size: 24px
    text-transform: uppercase
    color: #555
    font-weight: 800
    letter-spacing: 1px
    position: relative
    left: 16px
    top: 6px
    float: left
