@media screen and (min-width: 769px)
  .desktop-hidden
    display: none
  .wrap
    padding: 10px 0 0 20px
  .tint-overlay
    padding-bottom: 50px
  body
    background: #c55951
  .logo
    +background(image-url("../images/logo.png") 0 0 no-repeat)
    width: 196.5px
    height: 35px
    +background-size(100%)
    +inline-block
  header, footer
    float: left
    position: fixed
    width: 300px
  header
    .tint-overlay
      margin-bottom: 30px
      .wrap
        padding-left: 0
        padding-top: 14px
        padding-bottom: 10px
      background: #a04842
      .down-2
        display: none
    p
      clear: left
      font-size: 13px
      color: #e6e6e6
      padding-right: 20px
      line-height: 21px
      margin-top: 35px
    ul
      list-style-type: none
      margin: 0 0 0 0
      padding: 0
      li
        border-bottom: 1px solid #ffa99b
        padding: 12px 0
        &:last-child
          border-bottom: none
        a
          +transition(color, .3s)
          text-decoration: none
          color: #ffa99b
          display: block
          &.active
            color: #7c3833
          &:hover
            color: #eee
  footer
    bottom: 0
    left: 0
    form
      z-index: 5
      label
        font-size: 14px
        color: #999
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 6px
        +inline-block
      input
        width: 82%
        border: none
        padding: 10px
    .social-links
      margin: 0 0 20px 0
      padding: 0
      list-style-type: none
      text-align: center
      li
        width: 50px
        +inline-block
      a
        text-decoration: none
        color: #ffa99b
        font-size: 20px
        +transition(color, .3s)
        &:hover
          color: #eee

  .main-content
    margin-left: 300px
    background: rgba(#fff, .7)
    max-width: 560px
    width: 50%
    padding: 103px 20px 20px 20px
    position: relative
    z-index: 20
    +clearfix
    img
      position: relative
      left: -20px
    h2
      margin-top: 0
  .hero-photo
    +background(image-url("../images/me.jpg") no-repeat -220px 0)
    +background-size(cover)
    width: 100%
    position: fixed
    z-index: 10
    top: 0
    right: 0
    bottom: 0
    left: 300px
  .copyright
    margin-bottom: 0

  .left-col
    width: 20%
    float: left

  .right-col
    width: 80%
    float: right

  #experience, #skills
    +clearfix
    margin-top: 50px
    p, h3
      margin-top: 0
    p
      margin-bottom: 25px

  footer
    padding: 0 20px 0 0
    a
      &.hire-me
        +transition(color, .3s)
        background: #fff
        color: #e6877b
        height: 40px
        line-height: 40px
        text-align: center
        text-decoration: none
        +inline-block
        margin-bottom: 20px
        margin-right: 20px
        width: 100%
        text-transform: uppercase
        font-weight: bold
        letter-spacing: 1px
        +transition(box-shadow, .3s)
        &:hover
          color: #a04842
        span
          &.mail
            font-size: 13px
  .blog
    .main-content
      position: absolute
      top: 0
      bottom: 0
      .blog-date
        text-transform: uppercase
        font-size: 20px
        margin-top: 30px
      .blog-article
        a
          color: #a04842
          text-decoration: none
          display: block
          &:hover
            text-decoration: underline

  .portfolio-item
    margin-bottom: 40px
    margin-top: 40px
    &.first
      margin-top: 0
    img
      display: block
      margin: 0 auto 10px auto
      left: 0
      max-width: none
    h2
      a
        color: #333
        text-decoration: none
        &:hover
          text-decoration: underline
    h3 + p
      margin-top: 0
    h3
      margin-bottom: 3px
      color: #666
      font-weight: 500
@media screen and (max-width: 1120px)
  .portfolio-item
    img
      max-width: 100%

@media screen and (max-width: 768px)
  .blog
    .main-content
      .blog-date
        text-transform: uppercase
        font-size: 20px
        margin-top: 30px
      .blog-article
        a
          color: #a04842
          text-decoration: none
          display: block
          &:hover
            text-decoration: underline
  .mobile-hidden
    display: none
  header
    .down-2
      text-decoration: none
      font-size: 24px
      color: #ffa99b
      position: relative
      top: -10px
    #nav
      li
        a
          display: block
  #resume
    .label
      font-size: 18px
      margin-top: 40px
      margin-bottom: 15px
    p
      margin-top: 0
    .right-col
      p 
        margin-bottom: 14px
        &:last-of-type
          margin-bottom: 0
      h3
        margin-top: 14px
    .title
      margin-bottom: 15px
    .label
      border-bottom: 1px solid #ddd
      padding-bottom: 14px
      margin-bottom: 10px

  .portfolio-item
    margin-bottom: 40px
    margin-top: 40px
    &.first
      margin-top: 0
    img
      display: block
      margin: 0 auto 10px auto
      left: 0
    h2
      a
        color: #333
        text-decoration: none
        &:hover
          text-decoration: underline
    h3 + p
      margin-top: 0
    h3
      margin-bottom: 3px
      color: #666
      font-weight: 500
