+font-face(Proxima Nova, "ProximaNova-Thin", 200, $asset-pipeline: true)
+font-face(Proxima Nova, "ProximaNova-Light", 300, $asset-pipeline: true)
+font-face(Proxima Nova, "ProximaNova-Reg", 400, $asset-pipeline: true)
+font-face(Proxima Nova, "ProximaNova-Sbold", 500, $asset-pipeline: true)
+font-face(Proxima Nova, "ProximaNova-Bold", 700, $asset-pipeline: true)
+font-face(Proxima Nova, "ProximaNova-XBold", 800, $asset-pipeline: true)

body
  font-family: "Proxima Nova", sans-serif

h1
  margin: 0

p
  line-height: 24px
