extends ../layout

block content
  .main-content
    h2 Portfolio
    section.portfolio-item.first
      a(href="http://with.me")
        img(src="/images/owm-project.png")
        h2 withme
      p
        | Coded out the User Interface (HTML, CSS and JavaScript) and collaborated on the 
        | User Experience layer for many web applications used in a &ldquo;smart&rdquo; retail 
        | environment. Projects included a touch-ready payment Kiosk, merchandising 
        | table and dressing room mirror. All software was written with Node.js and 
        | React/Redux.
      h3 Responsibilites
      p 
        | HTML, CSS and JavaScript
    hr
    section.portfolio-item
      a(href="http://protege.stanford.edu")
        img(src="/images/stanford-project.png")
        h2 Stanford Protégé
      p
        | Front-End lead on this project for Stanford University. Layout leverages 
        | Twitter Bootstrap with plenty of hand-written HTML, CSS and JavaScript. 
        | Built from PhotoShop mockups. Google maps and Twitter API integration. 
        | Not responsive (due to budget), but still awesome.
      h3 Responsibilites
      p 
        | HTML, CSS and JavaScript
    hr
    section.portfolio-item
      a(href="https://hidden-beach-34345.herokuapp.com")
        img(src="/images/car-ui-project.png" class="project-dash")
        h2 Project Dash
      p
        | Fully functional touch-enabled User Interface meant to replace a user's 
        | dashboard in their car. This project was done for a friend who is 
        | currently a student. He supplied the User Interface mocks and I built it 
        | out for small desktop and iPad using React/Redux and Webpack.
      h3 Responsibilites
      p 
        | HTML, CSS and JavaScript
    hr
    section.portfolio-item
      a(href="http://mdstaff.com")
        img(src="/images/mdstaff-project.png")
        h2 MD-Staff
      p
        | Built from the ground up with a little help from Twitter Bootstrap.
        | Fully responsive, static marketing site using Grunt for build automation.
      h3 Responsibilites
      p 
        | HTML, CSS and JavaScript
    hr
    section.portfolio-item
      a(href="https://techcrunch.com/2012/03/27/appstack-raises-1-5m-from-eric-schmidt-google-ventures-gary-vee-and-others/")
        img(src="/images/appstack-project.png")
        h2 AppStack, Inc.
      p
          | Helped architect a modular, Front-End mobile framework used for small 
          | businesses to promote themselves via Google AdSense. Designed and developed 
          | over 50 mobile themes specific to various industries of small business.
      h3 Responsibilites
      p 
        | HTML, CSS and JavaScript
    hr
    section.portfolio-item
      a(href="http://abletonlife.com")
        img(src="/images/abletonlife-project.png")
        h2 Ableton Life
      p
        | Music software tutorial blog started and maintained by me.
        | Built using WordPress with a built-in template, albeit slightly modified.
        | Meant to showcase my passion for teaching others and writing/composing music.
      h3 Responsibilites
      p 
        | HTML, CSS and WordPress
