extends ../layout

block content
  .main-content.clearfix#resume
    h2 Resume
    .name Ryan Munger
    .title Front-End Developer
    p
      strong
        | I am a Front-End Developer who specializes in HTML,
        | CSS and JavaScript. I have over 6 years of experience
        | designing and building web applications. Most recently
        | I have been writing web apps with Node.js, React,
        | and PostgreSQL.

    section.clearfix#skills
      .left-col
        .label
          | Skills

      .right-col
        p
          strong
            | Significant Experience with: 
          | HTML, CSS, JavaScript, Front-End Architecture, 
          | Photoshop, Typography, Responsive Design and Grid 
          | Systems.
        p
          strong
            | Experience with: 
          | Node.js, React/Redux, AngularJS, PostgreSQL, Ruby and Ruby on Rails, Git, PHP, 
          | WordPress, SQL and NoSQL.
    
    section.clearfix#experience
      .left-col
        .label
          | Experience
      .right-col
        h3 
          a(href="http://with.me")
            | withme, Inc.
        h4 Front-End Developer
        .date 
          | October 2013 - Present
        //- img(src="/images/wm-main.jpg")
        p 
          | Coded out the User Interface (HTML, CSS and JavaScript) and collaborated on the 
          | User Experience layer for many web applications used in a &ldquo;smart&rdquo; retail 
          | environment. Projects included a touch-ready payment Kiosk, merchandising 
          | table and dressing room mirror. All software was written with Node.js and 
          | React/Redux.
        h3 
          a(href="https://techcrunch.com/2012/03/27/appstack-raises-1-5m-from-eric-schmidt-google-ventures-gary-vee-and-others/")
            | AppStack, Inc.
        h4 Front-End Developer
        .date 
          | February 2012 - August 2013
        p
          | Helped architect a modular, Front-End mobile framework used for small businesses 
          | to promote themselves via Google AdSense. Designed and developed over 50 mobile 
          | themes specific to various industries of small business.

        h3 
          a(href="http://www.lifeionizers.com/")
            | Life Ionizers
        h4 Front-End Developer
        .date 
          | August 2010 - February 2012
        p
          | Maintained and contributed to a high traffic e-commerce site written in PHP.
          | Led marketing campaigns with focused landing pages, custom built and 
          | designed using HTML, CSS and JavaScript.

        h3 Freelance
        h4 Front-End Developer
        .date 
          | March 2009 - July 2014
        p
          | Developed and designed websites for various businesses. Projects included: 
          a(href="http://protege.stanford.edu/")
            | Stanford University
          | , 
          a(href="http://www.vmware.com/")
            | VMware, 
          | and 
          a(href="https://www.mdstaff.com/")
            | ASM, Inc.
          |, a software company focused on the 
          | healthcare industry.

        h3 Robco Press
        h4 Graphic Designer
        .date 
          | September 2007 - February 2009
        p
          | Designed and laid out print ads for various hotel guest directories. 
          | Responsibilities included gathering requirements from various small businesses 
          | and implemented custom designs with Adobe Photoshop and Adobe InDesign. 
