.main-content
  h2 Lorem Ipsum Dolor sit Amet
  h3 Posted on July 31 2013 • 9 comments
  img src="images/beach.jpg"
  p
    ' Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    ' Sed commodo dignissim rhoncus. Nullam mollis semper ipsum, 
    ' vel aliquet odio imperdiet non. Morbi dapibus, dui id lobortis 
    ' fermentum, justo lorem commodo sem, eu commodo elit nunc vitae mi. 
    ' Sed cursus accumsan quam id gravida. Vivamus ut ligula sed nulla 
    ' vehicula mollis at eu odio. Curabitur at porta nulla. Nunc eu 
    ' posuere quam, sit amet fringilla neque. Maecenas dolor mi, rutrum 
    ' a vestibulum vel, sagittis ac enim.
  p
    ' Suspendisse pretium est eu congue rhoncus. Mauris ornare elementum 
    ' ultrices. 
  footer
    p.copyright
      small
        ' © 2005 – 2013 Ryan Munger. All rights reserved. 
