.main-content
  h2 Portfolio
  section.portfolio-item.first
    img src="../images/owm-project.png"
    h2 
      a href="http://orderwithme.com/"
        ' OrderWithMe
    p
      ' Fully responsive site, built with HTML, CSS (LESS) and JavaScript.
      ' Used a combination of JavaScript and Media Queries to serve up different nav states.
    h3 Responsibilites
    p 
      ' HTML, CSS and JavaScript
  hr
  section.portfolio-item
    img src="../images/stanford-project.png"
    h2 
      a href="http://protege.stanford.edu/"
        ' Stanford Protégé
    p
      ' Full site build using HTML, CSS and JavsScript. Built from PhotoShop mockups. 
      ' Google maps API integration. Not-responsive (due to budget), but still awesome.
    h3 Responsibilites
    p 
      ' HTML, CSS and JavaScript
  hr
  section.portfolio-item#promote
    img src="../images/startpromote-project.png"
    h2 
      a href="http://startpromote.com"
        ' StartPromote Marketing Site
    p
      ' Fully responsive customer facing marketing site meant to inform as well as convert potential
      ' leads into clients. Optimized for mobile, tablet and desktop experience.
    h3 Responsibilites
    p 
      ' HTML, CSS (SASS) and JavaScript (CoffeeScript)
  hr
  section.portfolio-item
    img src="../images/promote-desktop-dashboard-project.png"
    h2
      a href="http://desktop-dashboard-production.herokuapp.com/"
        'Promote Desktop Dashboard
    p
      ' Flagship app for AppStack. This product allows customers to login 
      ' and manage their small business advertising solution from either 
      ' their Desktop or iPad. API calls were made using AngularJS. Built 
      ' with a healthy dose of CSS3 and progressive enhancement for maximum 
      ' browser efficiency and reliability. Please note, in order to view this 
      ' project. 
      strong 
        ' Please login with the username: customer@appstack.com and password: password.
    h3 Responsibilites
    p 
      ' HTML, CSS (SASS) and JavaScript (CoffeeScript)
  hr
  section.portfolio-item
    img src="../images/facebook-signup-project.png"
    h2
      a href="http://fb.startpromote.com"
        ' Promote Facebook Landing Page
    p
      ' Landing page tied to a FaceBook campaign. Designed and optimized to convert potential
      ' customers on either a desktop, tablet or mobile experience. Built using custom CSS3 for
      ' animations and AngularJS for all API calls to the Rails backend.
      strong
        ' Please use the demo phone number: 555 555-5555
    h3 Responsibilites
    p 
      ' HTML, CSS (SASS) and JavaScript (CoffeeScript)
  hr
  section.portfolio-item
    img src="../images/appstack-project.png"
    h2 
      a href="http://appstack.com"
        ' AppStack Marketing Site
    p
      ' Forward facing marketing site built on top of a Ruby Static Site generator
      ' (Middleman) which is fully responive and optimized for lead conversion.
    h3 Responsibilites
    p 
      ' HTML, CSS (SASS) and JavaScript (CoffeeScript)
  hr
  section.portfolio-item
    img src="../images/promoteapp-project.png"
    h2 
      a href="http://m.startpromote.com"
        ' Promote Mobile App
    p
      ' Mobile web application developed to allows small business owner to manage
      ' their custom Google Adwords campaigns in the palm of their hand. The UI was
      ' built on top of AngularJS. This web app has been optimized for iOS and Android
      ' 2.3 and above. 
      strong
        ' Please login with the username: customer@appstack.com and password: password.
    h3 Responsibilites
    p 
      ' HTML, CSS (SASS) and JavaScript (CoffeeScript)
  hr
  section.portfolio-item
    img src="../images/earthtradewater-project.png"
    h2 
      a href="http://earthtradewater.com"
        ' EarthTrade Water
    p
      ' A marketing page tied to a Google AdSense campaign with multiple landing page funnels
      ' throughout the site. Wireframed and tested against other designs using Google's website
      ' optimizer for maximum conversion rate.
    h3 Responsibilites
    p 
      ' Design and Layout, HTML, CSS, JavaScript, Custom Wordpress Integration
  hr
  section.portfolio-item#value-logic
    img src="../images/valuelogic-project.png"
    h2 
      a href="http://staging.valuelogic.com"
        ' Value Logic
    p
      ' WordPress theme designed and devloped from scratch. Entire site was
      ' wireframed out before actually designing it. Developed using standards
      ' based HTML and CSS along with some jQuery for custom UI events.
    h3 Responsibilites
    p 
      ' Design and Layout, HTML, CSS, JavaScript, Custom Wordpress Integration
  hr
  section.portfolio-item
    img src="../images/daycarecafe-project.png"
    h2 
      a href="http://daycarecafe.com"
        ' Daycare Cafe
    p
      ' Designed a developed a site using WordPress which acted as a fully functioning
      ' CMS for both blog posts and static pages. A PHP search algorithm was also coded
      ' from the ground up.
    h3 Responsibilites
    p 
      ' Design and Layout, HTML, CSS, JavaScript, PHP, Custom WordPress Integration
  hr
    small
      ' Please note: due to updates out of my control, some of the sites may not
      ' be representative of what is shown in the screenshots above.
  /* section#single-blog-post */
  /*   h2 Pure CSS Speech Bubbles */
  /*   h3 Posted on September 4th 2013 */
  /*   p */
  /*     ' Speech bubbles are a pretty common pattern in web design, especially for tooltip pop ups. */
  /*     ' Having to save out a small triangle shape and attach it to the outside of the rounded */
  /*     ' speech bubble can become a bit cumbersome, so here is a way to create one from pure CSS. */
  /*   p */
  /*     ' As always, we'll start off with some simple markup and transform it into our speech bubble using */
  /*     ' CSS rounded corners and a pseudo element. */
  /*   pre */
  /*     .code-wrap */
  /*       code data-language="html" */
  /*         ' <div class="speech-bubble"> */
  /*             <p> */
  /*               Lorem ipsum dolor sit amet, consectetur adipiscing */ 
  /*               elit. Duis sed sapien ultricies enim elementum porttitor */ 
  /*               at mattis mi. Cras vehicula. */
  /*             </p> */
  /*           </div> */
  /*   p */
  /*     ' The above HTML is about as simple as a markup pattern can get. Feel free to optionally add a header element with */
  /*     ' an h1 or h2 to create some heading text. */
  /*   p */
  /*     ' Next up, were going to add our CSS, this will include an absolutely positioned pseudo-element with a unicode */
  /*     ' triangle character as it's content. */
  /*   pre */
  /*     .code-wrap */
  /*       code data-language="css" */
  /*         ' .speech-bubble { */
  /*             width: 25%; */
  /*             background: #fff; */
  /*             border-radius: 10px; */
  /*             border: 1px solid #ccc; */
  /*             padding: 10px; */
  /*             position: relative; */
  /*           } */

  /*           .speech-bubble:after { */
  /*             content: '\25bc'; */
  /*             position: absolute; */
  /*             bottom: -17px; */
  /*             right: 18px; */
  /*             color: #fff; */
  /*             text-shadow: 1px 1px 0 #ccc, -1px 1px 0 #ccc; */
  /*           } */

  /*   p */
  /*     ' The only slight issue I see with this solution, is the fact that the arrow (having used text-shadow to */
  /*     ' create the faux border) doesn't look exactly pointed at the bottom, but it's not a totally noticeable */
  /*     ' issue. */

  /*   p */
  /*     ' Keep in mind you can always use an arrow pointing in a different direction. Then, with absolute positioning, */
  /*     ' you can change the location of it relative to the bubble container. */

  /*   p */
  /*     ' Click here for a live */
  /*     a href="http://codepen.io/ryanmunger/pen/CEkrn" */
  /*       | demo. */
  /*   p */
  /*     ' Feel free to send any comments, questions or improvements */
  /*     a href="mailto: ryanmunger@gmail.com" */
  /*       | here */
  /*     | . */
  /*   a.previous-post href="conditionally-add-active-states-middleman.html" */
  /*     | « Previous Post */
